DOCTYPE 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 Home page
        form(action = "/search", method = "post")
            p
                input(type = "text", name = "wanted", placeholder = "Enter name for search")
                button(type="submit") Search Person
        form(action = "/searchCar", method = "post")
            p
                input(type = "text", name = "wantedCar", placeholder = "Enter Car VIN for search")
                button(type="submit") Search Car
        p=firstName
        p=lastName 
        p=number
        p=fathersName
        p=birthYear
        p       
        a(href="/add") 
            button Add new person here   