DOCTYPE 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        a(href="/")
            button home
        a(href="/add")
            button add
        h1 Edit person here 
        form(action = "/push", method = "post")
            p Firstname : 
                input(type = "text", name = "firstName", placeholder = firstName, value=firstName required)
            p Lastname : 
                input(type = "text", name = "lastName", placeholder = lastName, value=lastName required)
            p number : 
                input(type = "text", name = "number", placeholder = number, value=number required)
            p fathersName : 
                input(type = "text", name = "fathersName", placeholder = fathersName, value=fathersName required)
            p birthYear : 
                input(type = "text", name = "birthYear", placeholder = birthYear, value=birthYear required)
            p
                button(type="submit") Update